html {
  height: 100%;
}
body {
  background-color: #2f3035;
  background-image: url(/img/background-adare-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}
header {
  height: 118px;
  width: 1024px;
  text-align: center;
}

nav {
  text-align: center;
}

main {
  height: 400px;
  width: 1024px;
  text-align: center;
}
footer {
  background-color: rgba(0, 0, 0, 0.473);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
h1 {
  font-size: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 60px;
  padding-right: 60px;
}
p {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 240px;
  padding-right: 240px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
footer p {
  font-size: 12px;
  color: white;
}

.maps {
  padding-bottom: 20px;
}
.mybutton {
  background-color: rgb(247, 173, 37);
  font-family: Arial, Helvetica, sans-serif;
  padding: 11px 25px;

  border-radius: 1000px;
  box-shadow: 0px 2px 2px black;
}

.mybutton1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  color: rgb(247, 173, 37);
  padding: 11px 25px;
  display: inline-block;
  border-radius: 1000px;
  border: 1px solid rgb(247, 173, 37);
}
.mybutton1:hover {
  background-color: rgb(243, 184, 73);
  color: white;
}

.mybutton:hover {
  background-color: rgb(240, 198, 119);
}
